.header{
    position: relative;
    .navbar .active { /*當執行active，最高高度變高，原本因為變換版型而塞不下的選單就會放得下而出現了*/
        max-height: 400px;
      }
    /*LOGO連結*/
    h1{
        background-image: url(../img/d’Perfume.png);
        width: 128px;
        height: 38px;
        margin-bottom: 0px;
        a{
            text-indent:999%;
            overflow:hidden;
            white-space:nowrap;
            line-height: 56px;
            display: inline-block;
        }
    }
    /*引導選單*/
    .menu{
        
        ul{
            margin-bottom: 0px;
            max-height: 0%;
            z-index: 1;
            li{
                border: white solid 1px;
            }
        }
        
        a{
            line-height: 56px;
            color: $gray-m;
            display: block;
            padding-right: 16px;
            padding-left: 16px;
            font-size: $text-m;
            img{
                margin-right: 4px;
            }
            &:hover{
                color: #b1ad9e;
            }
        }
    }
    .sm-btn{
        position: relative;
        span{
            font-size: 10px;
            position: absolute;
            text-align: center;
            width: 17px;
            height: 17px;
            top: -1px;
            left: 10px;
        }
    }
}
@media(max-width:768px){
    .header .menu{
        a{color:white;}
        ul{ 
            /*在視窗變小時把整個選單定位在bar的下面*/
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%; /*讓所有選項滿版*/
            transition: all 0.8s; /*變化的時間*/
            overflow: hidden; /*超過指定範圍消失*/
            background: $gray-m;
            flex-direction: column;
            }
            li{
                text-align: center;
            }
    }
}


