$text-s:16px;
$text-m:20px;
$text-l:24px;
$text-xl:32px;
$primary: #AC8A46;
$gray-m: #848484;
$gray-l: #818A91;
@import "bootstrap/bootstrap.scss";
@import "layout";
@import "gird";
@import "header";
@import "brand-nav";
@import "index";
@import "all-products-page";
@import "the-products-page";
@import "log-in";
@import "personal-information";
@import "subscribe";
@import "footer";
